<div class="container-fluid justify-content-center ">
  <div class="row  header">
    <div class="  auto_icon">
      <mat-icon>drive_eta</mat-icon>
    </div>
    <div class="  welcome">
      Welcome to Squad!
    </div>
    <div class="  save_icon">
      <mat-icon>save_alt</mat-icon>
      <mat-icon>clear</mat-icon>
    </div>
  </div>
  <div class="row">
    <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
  </div>
  <div class="row">
    <app-datepicker></app-datepicker>
  </div>
</div>
