<div class="rider-card-container">
  <small>Departing at: 4:30PM</small>
  <mat-card>
    <div class="row">
      <app-rider class="col-3" [name]="'Marina Ovsyan'" [imgSrc]="'assets/img/blond.jpg'"></app-rider>
      <app-rider class="col-3" [name]="'Gavin Yerxa'" [imgSrc]="'assets/img/man.jpg'"></app-rider>
      <div class="col-3 text-center">
        <p>$25 per rider</p>
        <button class="btn btn-primary join-btn">join +1</button>
      </div>
      <div class="col-3 text-center">
        <p>$20 per rider</p>
        <button class="btn btn-primary join-btn">join +2</button>
      </div>
    </div>
  </mat-card>
</div>
