<div class="d-flex justify-content-between">
  <app-select [label]="''" [control]="form.get('from')" [items]="from" [disabled]="true"></app-select>
  <app-select [label]="''" [control]="form.get('to')" [items]="to" [disabled]="true"></app-select>
</div>
<h4 class="font-weight-bold text-center">{{form.get('date').value | date: 'EEEE, MMMM d'}}</h4>
<app-riders-card></app-riders-card>
<p>You have joined Gavin`s ride. We have sent an e-mail to both of you so you can wrap up the details!</p>
<button class="close-btn align" (click)="close()">Close window</button>
